{{#each user}}
<div class="card" style="width: 18rem;">
    <img src="{{profileImage}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{userName}}</h5>
        <p class="card-text">{{role}}</p>
        <a href="/profiles/{{id}}">Details</a>
        <a href="/editprofiles/{{id}}">Edit</a>
        <form action="/deleteprofile/{{id}}" method="POST" style="display: inline">
            <input type="submit" value="eliminar" class="btn btn-sm btn-danger">
        </form>
    </div>
</div>
{{/each}}