<div class="container">

    <div class="row mt-5">

        <div class="col-md-5 mt-6">
            <img src="{{chefcipes.image}}" alt="{{chefcipes.title}}" style="width: 100%">
            <div class="ingredient-box">
                <h3 class="mt-4"><strong>Ingredients:</strong></h3>
                <ul>
                    {{#each chefcipes.ingredients}}
                    <li>{{name}} - {{amount}} {{unit}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-md-6">

            <h1 class="mt-6">{{chefcipes.title}}</h1>

            <div class="col-md-6">
                <div class="extra-info">
                    <div class="extra-info-text mt-6">
                        <p>
                            <img class="extra-info-img" src="././public/images/clock-png-5.png" alt="clock logo"
                                style="width: 15px;">
                            Ready in: {{chefcipes.readyInMinutes}} minutes
                        </p>
                        <hr>
                        <p>
                            <img class="extra-info-img"
                                src=".././public/images/png-transparent-fork-and-spoon-logo-knife-fork-spoon-kitchen-utensil-plate-restaurant-logo-logo-black-and-white-symbol.png"
                                alt="fork and spoon logo" style="width: 15px;">Servings: {{chefcipes.servings}}
                        </p>
                        <hr>
                        <p> Diets: {{chefcipes.diets}}</p>
                    </div>
                </div>
            </div>

            <div class="instructions mt-7">
                <h3>INSTRUCTIONS</h3>
                <p>{{{chefcipes.instructions}}}</p>
            </div>
            <div class="mt-5">
                <a href="/edit-chef-recipes/{{chefcipes._id}}" class="btn btn-secondary">Edit</a>
            </div>

            <div class="mt-5">
                <a href="/makefav/db/{{chefcipes._id}}" class="btn btn-secondary">Fave</a>
            </div>

            <form action='/delete-chef-recipes/{{chefcipes._id}}' method="POST" style="display: inline">
                <input type="submit" value="Eliminar" class="btn btn-secondary">
            </form>
        </div>
    </div>
</div>