<h1>CHEFS LIST</h1>

<div class="container">
    <h1>Our chefs</h1>

    <div class="row">

        {{#each chef}}

        <div class=" card col-3 mt-2">

            <div>
                <img class="card-img-top" src="{{profileImage}}" alt="profile-pic">
            </div>

            <div class="card-body" style="color: black;">
                <h5 class="card-title"><strong>{{userName}}</strong> </h5>
                <a href="/chefs-recipes/{{id}}" class="btn btn-outline-dark btn-sm">View chef</a>

            </div>

        </div>

        {{/each}}
    </div>
</div>


{{!--
//F LIST
{{#each user}}
<img src="{{profileImage}}" alt="">
{{userName}}
{{email}}
{{role}}
{{/each}} --}}