<body class="chefs-details">

    <div class="container">
        <div class="row">

            <div class="col-md-6 d-flex flex-column  justify-content-end align-items-end">
                <p class="chef-name justify-content-center">{{chefs.userName}}</p>
                <p class="description">{{chefs.description}}</p>
                <h1></h1>
            </div>
            <div class="col-md-6">
                <div class="chef-img">
                    <img class="chef-img" src="{{chefs.profileImage}}" alt="profile-pic">
                </div>
            </div>


        </div>




        <div class="row mt-5
        ">
            <h2 class="mt-15">Check {{chefs.userName}}'s recipes:</h2>
            <div class=" card col-3 mt-2">

                {{#each chefs.recipes}}
                <div>
                    <img class="card-img-top" src="{{image}}" alt="profile-pic">
                </div>
                <div class="card-body" style="color: black;">
                    <a href="#" class="chef-recipe-title">
                        <h5><strong>{{title}}</strong> </h5>
                    </a>

                </div>
                {{/each}}
            </div>
        </div>


    </div>




    </div>

</body>