<body class="chefs-details">

    <div class="container">

        <div class="row">

            <div class="col-md-6 d-flex flex-column  justify-content-end align-items-end">
                <p class="chef-name justify-content-center">{{chefs.userName}}</p>
                <p class="description">{{chefs.description}}</p>
                <h1></h1>
            </div>
            <div class="col-md-6">
                <div class="chef-img">
                    <img class="chef-img" src="{{chefs.profileImage}}" alt="profile-pic">
                </div>
            </div>
        </div>

        <div class="chefs-recipes">

            <div class="row">

                <div class="col-md-12 recipes-box">
                    <h2 class="" style="color:brown">Check {{chefs.userName}}'s recipes:</h2>
                    {{#each chefs.recipes}}
                    <div>
                        <img class="card-img-top positio-center" src="{{image}}" alt="profile-pic">
                    </div>
                    <div class="card-body mb-5" style="color: black;">
                        <a href="/chefs-recipes/{{id}}" class="chef-recipe-title">
                            <h5><strong>{{title}}</strong> </h5>
                        </a>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>



</body>